
.DayPickerKeyboardShortcuts_buttonReset {
    display: none;
}
.DayPicker_transitionContainer{
  border-radius: 0px;
}
.DateRangePicker_picker {
  width: 200px;
  height: 100px;
}
.DateRangePickerInput__withBorder {
  border: none;
  margin-left: 10px;
}

.DateRangePickerInput{
  position: relative;
  left: 10vw;  
}

.DateRangePickerInput_arrow_svg {
  display: none;
}

.DateInput_input_1 {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
.DateInput_fangStroke {
  display: none;
}
.CalendarMonth{
  overflow: hidden;
  border-radius: 30px;
}
.CalendarMonthGrid{
  width: 615px;
  overflow: hidden;
  border-radius: 30px;
  position: relative;
  left: -0;
}
.CalendarMonthGrid_1{
  width: 615px !important;
  height: 300px;
}

.DateInput_input:hover{
  background-color: transparent;
}

.DateInput_input{
  background-color: transparent;
  display: none;
}
.DayPickerNavigation_button__horizontalDefault {
  overflow: hidden;
  border: none;
  border-radius: 30px;
}

.DayPicker__withBorder {
  overflow: hidden;
  border-radius: 30px;
  position: relative;
  top: -65px;
  left: -10vw;
}

.CalendarDay__default {
  border: none;
  border-radius: 50%;
  vertical-align: middle;
  outline: none; 
}

.CalendarDay__default:hover {
  background: transparent;
  border: none;
  color: black;
  box-shadow: inset 0 0 0 1px black;
}

.CalendarDay__selected_span {
  background-color: #f7f7f7;
  border: none;
  color: black;
}

.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  color: black;
  background-color: #f7f7f7;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: black;
  border: none;
  color: white;
}

.CalendarDay__blocked_calendar,
.CalendarDay__blocked_calendar:active,
.CalendarDay__blocked_calendar:hover {
  background: white;
  border: none;
  color: #d2d2d2;
  box-shadow: none;
  text-decoration: line-through;
}

.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
  color: black;
  background-color: #f7f7f7;
  border: none;
}

.CalendarMonth_caption {
  margin-bottom: 10px;
}



